.Sidebar {
  position: absolute;
  z-index: 500;
  height: 100%;
  background-color: #fff;
  transform: translate(-100%);
  transition: transform .5s ease-in-out;
}

.expanded .Sidebar {
  transform: translate(0);
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.2);
}

.expanded .backdrop {
  display: block;
}/* 避免导航栏在小屏幕下的折叠*/
.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav > li {
  float: left;
}
.Mine {
  height: calc(100% - 20px);
  overflow-y: scroll;
}

.Mine::-webkit-scrollbar {
  display: none;
}.avatar-large {
  width: 64px;
  height: 64px;
}

.avatar-small {
  width: 48px;
  height: 48px;
}.btn-right {
  position: absolute;
  top: 40px;
  right: 10px;
  transform: translate(0, -50%);
}.Trends {
  margin-bottom: 10px;
}

.trend-label {
  display: inline-block;
  margin-right: .4em;
  margin-bottom: .2em;
  padding: .2em .6em .3em;
  color: #fff;
  background-color: #337ab7;
  border-radius: .25em;
  cursor: pointer;
}

.trend-label:hover,
.trend-label:focus {
  background-color: #286090;
}.Repo {
  height: 100%;
}

.search-control {
  margin-bottom: 10px;
}

.results {
  height: calc(100% - 134px);
  overflow-y: scroll;
  background-color: #fff;
}

.results::-webkit-scrollbar {
  display: none;
}.MiniPlayer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 64px;
}

.song-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

.progress-slim {
  height: 5px;
  cursor: pointer;
}

.total {
  position: absolute;
  right: 15px;
}

.progress {
  margin-bottom: 0;
}

.btn-play {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .btn-play {
    padding: 4px 8px;
  }
}

@media screen and (max-width: 400px) {
  .col-xs-2, 
  .col-xs-3, 
  .col-xs-7 {
    padding-right: 6px;
    padding-left: 6px;
  }
}.list-header {
  padding: 15px;
}

.list-header::after {
  display: table;
  content: '';
  clear: both;
}

.list-header-left {
  float: left;
}

.list-header-right {
  float: right;
}.list-item {
  cursor: pointer;
}

.list-item:hover {
  background-color: #eee;
}

.list-item::after {
  display: table;
  content: '';
  clear: both;
}

.list-item span {
  line-height: 34px;
}

.buttons {
  float: right;
}.List {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 500;
  height: 500px;
  overflow-y: scroll;
  background-color: #fff;
  transform: translate(0, 0);
  transition: transform .5s ease-in-out;
}

.List::-webkit-scrollbar {
  display: none;
}

.expanded .List {
  transform: translate(0, -100%);
}
.OperationPanel {
  position: absolute;
  top: 100%;
  z-index: 500;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  transform: translate(0, 0);
  transition: transform .5s ease-in-out;
}

.expanded .OperationPanel {
  transform: translate(0, -100%);
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper .btn {
  font-size: 1.5em;
}html, body {
  height: 100%;
}

#app {
  position: relative;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 460px;
  overflow: hidden;
  background-color: #f2f2f2;
  box-shadow: 0 0 5px 5px #aaa;
}

main {
  position: absolute;
  top: 72px;
  bottom: 78px;
  width: 100%;
}

@media (max-width: 480px) {
  main {
    top: 52px;
  }
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
/*# sourceMappingURL=style-3a8bac1bce53a4d4ead4.css.map*/