.list-item {
  cursor: pointer;
}

.list-item:hover {
  background-color: #eee;
}

.list-item::after {
  display: table;
  content: '';
  clear: both;
}

.list-item span {
  line-height: 34px;
}

.buttons {
  float: right;
}