nav {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #1565c0;
}

.nav-button {
  position: absolute;
  top: 20px;
}

.nav-button > a {
  padding: 10px 15px;
}

.nav-button-right {
  right: 10px;
}

.nav {
  position: relative;
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.nav-item.current {
  font-weight: bold;
}

.nav > li > a:hover,
.nav > li > a:focus {
  color: inherit;
  background-color: inherit; /* 覆盖bootstrap样式 */
}

.nav > .move {
  position: absolute;
  bottom: -8px;
  width: 33.3%;
  border-top: 2px solid #fff;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-in-out;
}

.nav-item:nth-child(1).current ~ .move {
  transform: translate3d(0, 0, 0);
}
.nav-item:nth-child(2).current ~ .move {
  transform: translate3d(100%, 0, 0);
}
.nav-item:nth-child(3).current ~ .move {
  transform: translate3d(200%, 0, 0);
}
