.OperationPanel {
  position: absolute;
  top: 100%;
  z-index: 500;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff;
  transform: translate(0, 0);
  transition: transform .5s ease-in-out;
}

.expanded .OperationPanel {
  transform: translate(0, -100%);
}

.btn-wrapper {
  text-align: center;
}

.btn-wrapper .btn {
  font-size: 1.5em;
}