.Repo {
  height: 100%;
}

.search-control {
  margin-bottom: 10px;
}

.results {
  height: calc(100% - 134px);
  overflow-y: scroll;
  background-color: #fff;
}

.results::-webkit-scrollbar {
  display: none;
}