.Sidebar {
  display: none;
  position: absolute;
  z-index: 500;
  height: 100%;
  background-color: #fff;
  transform: translate3d(-100%, 0, 0);
  transition: transform .5s ease-in-out;
}

.in .Sidebar {
  display: block;
}

.expanded .Sidebar {
  transform: translate3d(0, 0, 0);
}

.backdrop {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.2);
}

.expanded .backdrop {
  display: block;
}